* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.copy {
    text-align: right;
}

.main__container {
    overflow: hidden;
}

.container {
    border: 2px solid #bfbdbd;
    border-radius: 2px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 1s; 
    /* height: 0px; */
    /* transform: translateY(-50px); */
}
/* .btn-collapse:hover + .container { /* + позволяет обратиться к соседнему родственному элементу*/
    /* transform: translateY(0); */
    /* transition: 1s;
    
} 
 */

.btn-collapse {
    background-color: rgb(32, 152, 250);
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin: 30px;
    border: 2px solid #899dfe;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.btn-collapse:hover {
    /* transform: scale(1.1); */
    background-color: #4cc9fa;
}

 .active {
    /* transform: translateY(0);  */
 }

 .copy {
    transition: 1s;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 700;
    
 }